[user]
	email = firdaus@ieee.org
	name = fredjames586
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[push]
	default = current
[core]
	editor = nano
	excludesfile = /home/fredjames586/.gitignore
[diff]
	tool = diff
[merge]
	tool = diff
[difftool]
	prompt = false
[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	co = checkout
[credential]
	helper = store
