[user]
	name = fjanoos
	email = firdaus@ieee.org
[alias]
	co = checkout
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[core]
	editor = nano
	excludesfile = ~/config/.gitignore
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[push]
	default = current
[diff]
	tool = diff
[merge]
	tool = tortoisemerge
[difftool]
	prompt = false
[credential]
        helper = cache
